## Description of each diagnostic usermod directory

## Frequencies and usermod_dir are required
## Frequencies are mon, day, 6hr, 3hr, 1hr, subhr

## include_usermods is a comma-separated list of names of config sections
##  (default: none)
## Each config section must be present in this file

## COSP_on and use_aerocom default to False

[reduced]
usermod_dir = CMIP7_HistoryMin
frequencies = mon
COSP_on = False
use_aerocom = False

[base]
usermod_dir = CMIP7_HistoryBase
frequencies = mon,day
COSP_on = False
use_aerocom = False

[aerocom]
usermod_dir = CMIP7_HistoryAerocom
frequencies = mon,day
COSP_on = False
use_aerocom = True

[HighFrequency]
usermod_dir = CMIP7_HistoryHF
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = False
use_aerocom = True

[max]
usermod_dir = CMIP7_HistoryMax
frequencies = mon, day, 6hr,3hr, 1hr, subhr
COSP_on = True
use_aerocom = True
